@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #19191f;
}

.App {
  gap: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    span {
      color: #029ff9;
    }
  }

  .InputSearch {
    display: flex;
    align-items: center;
    box-shadow: 0rem 2rem 2rem #0d0d1062;

    input {
      border: none;
      outline: none;
      cursor: pointer;
      width: 260px;
      height: 30px;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.2rem 0rem 0rem 0.2rem;
      background-color: #24252b;
    }

    button {
      border: none;
      cursor: pointer;
      width: 50px;
      height: 46px;
      display: flex;
      transition: 0.3s;
      font-size: 1.5rem;
      align-items: center;
      padding: 0.5rem 1rem;
      justify-content: center;
      background-color: #24252b;
      border-radius: 0rem 0.2rem 0.2rem 0rem;

      &:hover {
        background-color: #282a30;
      }
    }
  }

  .Content {
    width: 450px;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: #24252b;
    box-shadow: 0rem 2rem 2rem #0d0d1062;
  }
}
